RewriteEngine on
RewriteRule ^index$ index.php [NC,L]
RewriteRule ^anuncie$ anuncie.php [NC,L]
RewriteRule ^anuncio-assistencia$ anuncio-assistencia.php [NC,L]
RewriteRule ^anuncio-detalhe$ anuncio-detalhe.php [NC,L]
RewriteRule ^anuncio-equipamentos$ anuncio-equipamentos.php [NC,L]
RewriteRule ^anuncio-equipamentos-enviado$ anuncio-equipamentos-enviado.php [NC,L]
RewriteRule ^anuncio-servicos$ anuncio-servicos.php [NC,L]
RewriteRule ^anuncio-suprimentos$ anuncio-suprimentos.php [NC,L]
RewriteRule ^anuncio-transportadoras$ anuncio-transportadoras.php [NC,L]
RewriteRule ^contact$ contact.php [NC,L]
RewriteRule ^envio-anuncio$ envio-anuncio.php [NC,L]
RewriteRule ^lista-de-anuncios$ lista-de-anuncios.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^cadastre-se$ cadastre-se.php [NC,L]
RewriteRule ^resultado-busca$ resultado-busca.php [NC,L]
RewriteRule ^senha$ senha.php [NC,L]
RewriteRule ^chat$ chat.php [NC,L]
RewriteRule ^logout$ logout.php [NC,L]
RewriteRule ^favoritos$ favoritos.php [NC,L]
RewriteRule ^meus-anuncios$ meus-anuncios.php [NC,L]
RewriteRule ^meu-perfil$ meu-perfil.php [NC,L]
RewriteRule ^lista-equipamentos$ lista-equipamentos.php [NC,L]
RewriteRule ^lista-servicos$ lista-servicos.php [NC,L]
RewriteRule ^lista-suprimentos$ lista-suprimentos.php [NC,L]
RewriteRule ^lista-transportadoras$ lista-transportadoras.php [NC,L]
RewriteRule ^lista-assistencia$ lista-assistencia.php [NC,L]
