RewriteEngine on
RewriteRule ^index$ index.php [NC,L]
RewriteRule ^anuncie$ anuncie.php [NC,L]
RewriteRule ^anuncio-assistencia$ anuncio-assistencia.php [NC,L]
RewriteRule ^anuncio-detalhe$ anuncio-detalhe.php [NC,L]
RewriteRule ^anuncio-equipamentos$ anuncio-equipamentos.php [NC,L]
RewriteRule ^anuncio-servicos$ anuncio-servicos.php [NC,L]
RewriteRule ^anuncio-suprimentos$ anuncio-suprimentos.php [NC,L]
RewriteRule ^anuncio-transportadoras$ anuncio-transportadoras.php [NC,L]
RewriteRule ^contact$ contact.php [NC,L]
RewriteRule ^envio-anuncio$ envio-anuncio.php [NC,L]
RewriteRule ^lista-assistencia$ lista-assistencia.php [NC,L]
RewriteRule ^lista-de-anuncios$ lista-de-anuncios.php [NC,L]
RewriteRule ^lista-equipamentos$ lista-equipamentos.php [NC,L]
RewriteRule ^lista-servicos$ lista-servicos.php [NC,L]
RewriteRule ^lista-suprimentos$ lista-suprimentos.php [NC,L]
RewriteRule ^lista-transportadoras$ lista-transportadoras.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^register$ register.php [NC,L]
RewriteRule ^resultado-busca$ resultado-busca.php [NC,L]
RewriteRule ^senha$ senha.php [NC,L]
RewriteRule ^user-favorite-properties$ user-favorite-properties.php [NC,L]
RewriteRule ^user-my-properties$ user-my-properties.php [NC,L]
RewriteRule ^user-profile$ user-profile.php [NC,L]
